.title{
    color:aqua;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    border:3px solid black;
}
.body{
    background-color:aquamarine;
    color:blue;
    font-weight:light;
}
